input[type=range][orient=vertical]{
    writing-mode: bt-lr; /* IE */
    -webkit-appearance: slider-vertical; /* WebKit */
    width: 8px;
    height: 175px;
    padding: 0 5px;
}

.indicador {
    width: 10px;
    height: 10px;
}

.black {
    background-color: #2e2a2b;
}

.blue {
    background-color: #0aa8f6;
}

.red {
    background-color: red;
}